<div mat-dialog-content>
  <h1> Cadastro de Conta</h1>
  <mat-form-field>
    <mat-label>Nome da Conta</mat-label>
    <input type="text" [(ngModel)]="conta.nomeConta" name="name"  matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label >Valor</mat-label>
    <input [(ngModel)]="conta.valor" matInput>
    <span matTextPrefix>$&nbsp;</span>
  </mat-form-field>
  <mat-form-field>
    <mat-label  name="quantidade"> Data do Pagamento </mat-label>
    <input [(ngModel)]="conta.data" matInput type="date" >
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Voltar</button>
    <button mat-raised-button (click)="create()" class="cadastrar">Cadastrar Conta</button>
  </div>
</div>
