<div class="container-header">
  <div class="header">
    <h1> Vendas do Dia: {{dataHead}} </h1>
  </div>
</div>
<div class="container">

  <mat-form-field>
    <mat-label>Data Inicial</mat-label>
    <input matInput [matDatepicker]="picker"
           (dateInput)="addEvent($event)" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container class="ng-hide" matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="nomeCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeCliente.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="produto">
        <th mat-header-cell *matHeaderCellDef> Produtos </th>
        <td mat-cell *matCellDef="let element">
          <ul>
            <li *ngFor="let produto of element.produto">
              {{ produto.name }}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element"> R$ {{element.valor}} </td>
      </ng-container>
      <ng-container matColumnDef="metodoPagamento">
        <th mat-header-cell *matHeaderCellDef> Método de pagamento </th>
        <td mat-cell *matCellDef="let element"> {{element.metodoPagamento}} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openDialogUpdate(element.id)" color="primary" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <div class="button-row">
    <button mat-fab extended color="#primary" class="btn-adicionar" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Cadastrar Venda
    </button>
  </div>
</div>
