<div class="container-header">
  <div class="header">
    <h1> Controle de Contas {{dataHead}} </h1>
  </div>
</div>
<div class="container">

  <mat-form-field>
    <mat-label>Buscar Contas</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Conta de Luz junho" #input>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Data Inicial</mat-label>
    <input matInput [matDatepicker]="picker"
           (dateInput)="addEvent($event)" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>


      <!-- Name Column -->
      <ng-container class="ng-hide" matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="nomeConta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome da Conta </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeConta}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element"> R$ {{element.valor}} </td>
      </ng-container>
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data do Pagamento </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openDialogUpdate(element.id)" color="primary" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <div class="button-row">
    <button mat-fab extended color="#primary" class="btn-adicionar" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Adicionar Conta
    </button>
  </div>
</div>
