.mat-mdc-form-field{
  display: block;
  margin-bottom: 10px;
}
button.cadastrar{
  background: #00AA55FF;
  color: #ffffff !important;
}
.mat-mdc-dialog-content{
  max-height: fit-content;
}
.modal-container {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  height: 80% !important;
}
.form-container{
  width: 50% !important;
}
.produto-list-container{
  margin-left: 20px;
}

.form-row {
  display: flex;
}


.produto-find-container {
  flex: 60%;
}

.quantidade-container {
  flex: 20%;
}
.button-add-prod-container{
  flex: 20%;
  margin-left: 10px;
  padding-top: 10px;
}
/*}*/
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td:first-child {
  width: 40%;
}

td:last-child {
  width: 20%;
}



