<div mat-dialog-content>
  <h1> Cadastro de Venda</h1>
  <mat-form-field>
    <mat-label>Nome do Cliente</mat-label>
    <input type="text" [(ngModel)]="venda.nomeCliente" name="nome"  matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Produto</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>  </mat-form-field>
  <mat-form-field>
    <mat-label> Método de Pagamaento </mat-label>
    <input   name="metodoPagamento" [(ngModel)]="venda.metodoPagamento" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label> Método de Pagamaento </mat-label>
    <input type='date' [(ngModel)]="venda.data" matInput name="data">
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Voltar</button>
    <button mat-raised-button (click)="create()" class="cadastrar">Cadastrar Clientes</button>
  </div>
</div>
