<div mat-dialog-content>
  <h1> Cadastro de Venda</h1>
<!--  <form [formGroup]="formGroup">-->
  <mat-form-field>
    <mat-label>Nome do Cliente</mat-label>
    <input type="text" [(ngModel)]="idCliente" name="nome"  matInput  [formControl]="pesquisaCliente"
           [matAutocomplete]="autoCliente">
    <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayFnClientes(clientes)">
      <mat-option *ngFor="let cliente of filteredClientes" [value]="cliente.id">
        {{ cliente.nome }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Produto</mat-label>
    <input type="text" matInput placeholder="Produto" [(ngModel)]="idproduto" [formControl]="pesquisa"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn(produtosDisponiveis)">
      <mat-option *ngFor="let produto of filteredOptions" [value]="produto.id">
        {{ produto.nome }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label> Método de Pagamento </mat-label>
    <mat-select [(ngModel)]="venda.metodoPagamento" ngModel="venda.metodoPagamento">
      <mat-option value="0">Pix</mat-option>
      <mat-option value="2">Dinheiro</mat-option>
      <mat-option value="1">Cartão de Crédito</mat-option>
      <mat-option value="3">Cartão de Débito</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label> Método de Pagamaento </mat-label>
    <input type='date' [(ngModel)]="venda.data" matInput name="data">
  </mat-form-field>
<!--  </form>-->
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Voltar</button>
    <button mat-raised-button (click)="create()" class="cadastrar">Cadastrar Venda</button>
  </div>
</div>
