.container{
  height: 100%
}
.sidenav{
  width: 13rem;
  color: white;
  background: linear-gradient(180deg, rgb(8, 36, 0) 0%, rgb(105, 207, 37) 0%, rgb(0, 170, 85) 100%);

}
img{
  width: 50%;
  height: 50%;
  margin-left: 3rem;
}
.nav-list a {
  color: white;
}
.sidenav i {
  margin-right: .6rem ;
  color: white;
}
.menu{
  margin: 1rem 0 0 1rem;
  color: white;
  background: linear-gradient(180deg, rgb(8, 36, 0) 0%, rgb(105, 207, 37) 0%, rgb(255, 255, 255) 100%);
}
