<mat-sidenav-container class="container" autosize>
  <mat-sidenav class=sidenav opened mode="side">
    <mat-nav-list class="nav-list">
    <img src="assets/img/a5e44396-e601-430b-a920-17982cd4e7ea.png">
      <p>  </p>
        <a mat-list-item routerLink="vendas">
          <i class="material-icons">home</i>
          Inicio
        </a>
      <a mat-list-item routerLink="historico">
        <i class="material-icons">account_circle</i>
        Histórico
      </a>
      <a mat-list-item routerLink="contas">
        <i class="material-icons">money</i>
        Contas
      </a>
      <a mat-list-item routerLink="clientes">
        <i class="material-icons">person</i>
        Clientes
      </a>
      <a mat-list-item routerLink="produtos">
        <i class="material-icons">inventory</i>
        Estoque
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>

</mat-sidenav-container>
